body {

  text-align: center;
colour: black;

}
pre{
  font-style: italic;
  font-size: 15px;

  color: white;
}
hr{
  height:2px;
  width:30%;
color: white;
 }

.book{
  border-radius: 20px;
  width: 20%;
  height: 30%;
}
.emoji{
  border-radius: 10px;
  width: 10%;
  height: 10%;
}
.genres{
border-radius: 50%;
width:80px;
height:80px;
  }
  .centr{
    color: white;
    font-size: 180%;
  }
